.grid-flexbox {
    .row {
        @include display-flex();
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-flow(row, wrap);
        @include flex(0, 1, auto);
    }

    .#{$grid-column-class-prefix} {
        @include flex(0, 0, auto);
        max-width: 100%;

        &.#{$grid-column-class-prefix}-stretch {
            @include flex(1, 1, 0px);
        }
    }

    //Make columns sizes
    @for $i from 1 through $grid-columns {
        .#{$grid-column-class-prefix}-#{$i} {
            @include flex-basis(percentage($i/$grid-columns));
            width: percentage($i/$grid-columns);
            max-width: percentage($i/$grid-columns);
        }
    }
}

@include old-browsers-style($gridi-framework-grid-flexbox-support-old-browsers) {
    .grid-flexbox {
        .row {
            display: block;
        
            &::before,
            &::after {
                content: " ";
                display: table;
                width: 100%;
            }
        
            &::after {
                clear: both;
            }
        }

        .#{$grid-column-class-prefix} {
            float: left;
        }
    }
}